textarea
{
    overflow-y:scroll;
}


div.center{
    text-align: center;
}

img{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    max-width: 80%;
    max-height: 80%;
    top: 50px;
}

button#edit{
    width: 28%;
    height: 10%;
}

button#back{
    width: 28%;
    height: 10%;
}


.btn-default{
    background-color:rgb(4, 99, 51);
    color: white;
  }
  .btn-default:hover{
    background-color:black;
  }