<!--form-->
<div class="card" *ngIf="!isUser">
  <br>
  <br>
  <h1>
    <b class="f1">Forgot Password</b>
  </h1>
  <br>
  <form [formGroup]="form">
    <div class="input-group 
    col-xs-offset-2 col-xs-8
    col-sm-offset-2 col-sm-8
    col-md-offset-2 col-md-8
    col-lg-offset-2 col-lg-8">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <input type="text" class="form-control" [formControlName]="fieldName1" placeholder="Username" #uname>
    </div>
    <font size="2" color="red">{{unameErrMsg}}</font>
    <br>
    <div class="input-group 
    col-xs-offset-2 col-xs-8
    col-sm-offset-2 col-sm-8
    col-md-offset-2 col-md-8
    col-lg-offset-2 col-lg-8">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-envelope"></i>
      </span>
      <input type="text" class="form-control" [formControlName]="fieldName2" placeholder="Email" #email>
    </div>
    <font size="2" color="red" style="text-align: right">{{emailErrMsg}}</font>
    <br>
    <div class="input-group 
    col-xs-offset-2 col-xs-8
    col-sm-offset-2 col-sm-8
    col-md-offset-2 col-md-8
    col-lg-offset-2 col-lg-8">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-phone"></i>
      </span>
      <input type="text" class="form-control" [formControlName]="fieldName3" placeholder="Mobile" #mobile>
    </div>
    <font size="2" color="red" style="text-align: right">{{mobileErrMsg}}</font>
  </form>
  <font size="2" color="red">{{errMsg}}</font>
  <br>
  <br>
  <button type="button" class="btn btn-default" id='back' (click)="onGoBack()">Back</button> 
  <button type="button" class="btn btn-default" id='retrieve'(click)="onRetrievePassword(uname.value, email.value, mobile.value)">Retrieve Password</button>
</div>

<retrieve-password *ngIf="isUser"[user]="user"></retrieve-password>