/*#region side bar*/
#sort-button {
  font-size: 10px;
  height: 25px;
  width: 78px;
  vertical-align: middle;
}

.btn-default {
  background-color: rgb(4, 99, 51);
  color: white;
}
.btn-default:hover {
  background-color: black;
}
.btn-default:focus {
  background-color: black;
}

.sidenav {
  position: fixed;
  font-family: Noto Sans, sans-serif;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: auto;
  overflow-y: auto;
  vertical-align: middle;
  z-index: 1;
  height: 80%;
  width: 25%;
  left: 10px;
}

#quantity {
  font-size: 12px;
  height: 30px;
  width: 60px;
  vertical-align: middle;
}

#range {
  font-size: 12px;
  height: 30px;
  width: 50%;
  vertical-align: middle;
}
/*#endregion*/

/*#region checkbox button*/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: rgb(4, 99, 51);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*#endregion*/

/*#region product panels*/
.glyphicon.glyphicon-minus{
  display:block;
  text-align: center;
}
.glyphicon.glyphicon-plus{
  display:block;
  text-align: center;
}
#quantityBtn{
  width: 35px;
  height: 30px;
}
.panel-default {
  font-family: Noto Sans, sans-serif;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(26, 128, 17, 0.2),
    0 6px 20px 0 rgba(20, 99, 13, 0.2);
  height: 320px;
  word-wrap: break-word;
}
img {
  max-width: 140px;
  height: 140px;
}
.panel-default:hover {
  font-family: Noto Sans, sans-serif;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgb(4, 99, 51), 0 6px 20px 0 rgba(20, 99, 13, 0.2);
}
.panel-body {
  cursor: pointer;
}

#price {
  color: rgb(4, 99, 51);
}

.material-icons.cart:hover {
  color: black;
  cursor: pointer;
}

.material-icons.md-20 {
  font-size: 30px;
  vertical-align: middle;
}
.material-icons.md-dark {
  color: rgb(4, 99, 51);
}
/*#endregion*/
