    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" id="brand">
                    <i class="material-icons md-32 md-light">
                        shopping_basket
                    </i>
                    ClickShop
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="home" routerLink="/login/home">
                            <span class="glyphicon glyphicon-home"></span>&nbsp;Home
                        </a> &nbsp; &nbsp;
                    </li>
                    <li>
                        <a routerLink="/login/home/cart" routerLinkActive="active">
                            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Cart
                        </a> &nbsp; &nbsp;
                    </li>
                    <li>
                        <a routerLink="/login/home/profile" routerLinkActive="active">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;Profile
                        </a> &nbsp; &nbsp;
                    </li>
                    <li>
                        <a routerLink="/login/home/transactions" routerLinkActive="active">
                            <span class="glyphicon glyphicon-transfer"></span>&nbsp;Transactions
                        </a> &nbsp; &nbsp;
                    </li>
                    <li>
                        <a (click)="onLogOut()" routerLinkActive="active">
                            <span class="glyphicon glyphicon-off"></span>&nbsp;Log Out
                        </a> &nbsp; &nbsp;
                    </li>
                </ul>
            </div>
        </div>
    </nav>
