.btn-default{
  background-color:rgb(5, 129, 67);
  color: white;
}
.btn-default:hover{
  background-color:rgba(1, 77, 39, 0.938);
}

.f1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    margin-left: -190px; /* width divided by 2 */
    margin-top: -190px; /* height divided by 2 */
  
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  